*{
    font-family: Fira Sans;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BD{

margin-left: 107px;
text-decoration: none;

}
.BD>a{
    text-decoration: none;
    color: black;
}
.sign{
    margin-right: 107px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
   border-color: rgb(0, 106, 80);
   padding-top: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   border-radius: 5px;
   
}
.banner{
    background-color: rgb(198, 228, 214);
    width: 1280px;
    height: 560px;
    margin-left: 107px;
    margin-right: 110px;
    border-radius: 20px;
    margin-top: 20px;
   
}
.sub-title{
 color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
width: 416px;
height: 20px;
margin-left: 100px;
}
.title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
width: 416px;
height: 135px;
margin-left: 100px;

}
.banner-container{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.btn{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
border-radius: 8px;
background: rgb(0, 106, 80);
margin-left: 105px;
padding: 17px 34px 17px 34px;
border: none;
}
.banner-img{
    margin-top: 50px;
}
.pillar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-left: 107px;
    margin-right: 110px;
}
.innovation,.sustainability,.infrastructure,.empower{
 box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 24px;
 color: rgba(14, 14, 14, 0.7);

}
.pillar-section{
    margin-left: 107px;
}
.vision-heading{
    margin-left: 107px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;


}
.vision-description{
    margin-left: 107px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-right: 110px;
}
.vision-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 107px;
    margin-right: 110px;
    gap: 20px;
}
.digital{
box-sizing: border-box;
border-radius: 16px;
background-color: rgba(84, 144, 245, 0.2);
padding: 20px;
}
.green{
box-sizing: border-box;
border-radius: 16px;
padding: 20px;

background-color: rgb(198, 228, 214);
}
.modern{
box-sizing: border-box;
border-radius: 16px;
background-color: rgb(247, 235, 207);
padding: 20px;
}

.digital,.green,.modern > p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.x{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;

}
.modern-btn{

    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;

border-radius: 8px;
background: rgb(0, 106, 80);
border-radius: 8px;

background: rgb(255, 194, 57);
padding: 17px 34px 17px 34px;
border: none;

}
.digital-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    
    border-radius: 8px;
    background-color: rgb(84, 144, 245);
    padding: 17px 34px 17px 34px;
    border: none;
}
.green-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    
    border-radius: 8px;
    background: rgb(9, 161, 92);
    
    padding: 17px 34px 17px 34px;
    border: none;
}
.quotue{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
   
    margin-left: 107px;
    margin-right: 110px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
   
   
    
    
}
.quotue-description{
 
   padding: 20px;
}
.quote-title,.position{
    padding-left: 20px;
}